div#container

h1 Bienvenido 
H2 a mi pagina web de comida
h3 tienes las siguientes galeria platos para digustar


block imgs
  img(src="images/co_me.jpg", alt="imagen1" with="800" height="200")

  img(src="https://static.vix.com/es/sites/default/files/styles/large/public/btg/curiosidades.batanga.com/files/10-supuestos-mitos-sobre-la-comida-chatarra-8.jpg?itok=fMKUy2c9", alt="imagen1" with="800" height="200")

  img(src="http://static1.objetivobienestar.com/uploads/s1/56/81/97/comida-sana_1_780x462.jpeg", alt="imagen1" with="800" height="200")

  img(src="https://statics-cuidateplus.marca.com/sites/default/files/styles/natural/public/hamburguesas.jpg?itok=7IWO-XYt", alt="imagen1" with="800" height="200")

  img(src="https://notasalminuto.com/wp-content/uploads/2017/12/comida-mexicana.jpg", alt="imagen1" with="800" height="200")

  img(src="https://img.buzzfeed.com/buzzfeed-static/static/2018-05/8/19/asset/buzzfeed-prod-web-04/sub-buzz-31420-1525821073-3.jpg?downsize=700:*&output-format=auto&output-quality=auto" with="800" height="200") 

  img(src="https://images.theconversation.com/files/237472/original/file-20180921-129853-1ejjx36.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C998%2C666&q=45&auto=format&w=496&fit=clip" with="800" height="200") 

  img(src="http://www.xdviral.com/wp-content/uploads/2014/11/recetas-de-comida-saludable-6.jpg" with="800" height="200") 

  h1 Contactenos
  h4 953214587
  h4 523-235

  h1 Gracias por visitar mi sitio web